<div class="pad"></div>
<div class="card mb-3">
  <div class="row">
    <div class="card-body">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm.value)">
    <div class="col-md-12">
      <div class="row">  
    <div class="col-md-12 ">
      <div class="row">
        <div class="col-md-12">
          <h4 class="card-title">Title</h4>
          <input type="text" formControlName="titulo" id="titulo" class="form-control">
        </div>
        <div class="col-md-12">
          <h4 class="card-title">Dificult</h4>
          <input type="text" formControlName="dificultad" id="dificultad" class="form-control">
        </div>
        <div class="col-md-12">
          <h4 class="card-title">Type of food</h4>
          <input type="text" formControlName="tipoComida" id="tipoComida" class="form-control">
        </div>
        <div class="col-md-12">
          <h4 class="card-title">Porcion</h4>
          <input type="text" formControlName="porciones" id="porciones" class="form-control">
        </div>
        <div class="col-md-12">
          <h4 class="card-title">Image URL</h4>
          <input type="text" formControlName="imagen" id="imagen" class="form-control">
        </div>
        <div class="col-md-12">
          <h4 class="card-title">Source</h4>
          <input type="text" formControlName="source" id="source" class="form-control">
        </div>
        <div class="col-md-12">
          <h4 class="card-title">Category</h4>
          <input type="text" formControlName="tipo" id="tipo" name="tipo" class="form-control">
        </div>
      </div>
    </div>
  </div>
  </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h4>Ingredients</h4>
          <h5>It's not necessary use all the inputs</h5>
          <div formGroupName="ingredientes">
          <div *ngFor="let ingrediente of ingredientes; index as i">
            <div *ngIf='ingrediente!=" "'>
            <label for="label">Ingredient</label>
            <input type="text" formControlName="{{i}}" id="{{ingrediente}}" name="{{i}}" class="form-control mt-2">
          </div>
        </div>
        </div>
        </div>
        <div class="col-md-6">
          <h4>Instructions</h4>
            <div formGroupName="pasos">
                <div *ngFor="let paso of pasos; index as i">
            <textarea class="form-control col-md-12" formControlName="{{i}}" id="{{paso}}" name="{{i}}" style="width: 450px; height: 450px;"></textarea>
            </div>
        </div>
        </div>
      </div>
      <button class="btn btn-dark mt-2" type="submit">Add recipe</button>
    </div>
    </form>
  </div>
  </div>